/* CSS RESET */
* {padding: 0; margin: 0;  border: 0;}
html {font-size: 16px; scroll-behavior: smooth;}

body {font-size: 1rem; color: #003d71; line-height: 1.4; font-family: "Open Sans"; font-weight: 300; background-color: #FFF;}
a {text-decoration: none; color: #003d71;}
ul, ol {list-style-type: none;}
p {margin-bottom: 1.4em;}
br {margin:0 !important; color: #003d71; color: #add0ed; color: #b5c9d0; color: #ececea; color: #f7fcfc}
address, strong, em { font-style: normal; }

/* HEADERS */
h1,h2,h3,h4 {font-weight: bold; margin-bottom: 0.25rem; font-family: "Open Sans";}
h1,.h1 { font-size: 5vw;}
h2 {font-size: 4.5vw;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.2rem;}

@media only screen and (min-width: 800px) {
    h1, .h1 {font-size: 4vw;}
    h2 {font-size: 3.5vw;}
}
@media only screen and (min-width: 1000px) {
    h1, .h1 {font-size: 2rem;} 
    h2 {font-size: 1.65rem;}
}
@media only screen and (min-width: 1300px) {
    h1 .h1 {font-size: 3vw;}
    h2 {font-size: 2.5vw;}
} 
@media only screen and (min-width: 2000px) {
    h1, .h1 {font-size: 3rem;}
    h2 {font-size: 2.4rem;}
}

/* GENERAL */

header, main, footer {position: relative; display: flex; flex-direction: column; align-items: center;}
section  {position: relative; max-width: 80rem; margin: 2rem 1rem; width: calc(100% - 4rem);}
section.fullscreen {width: 100%; max-width: 100%;}
section.fullscreen > * {width: calc(100% - 4rem); margin: 0 auto; max-width: 80rem;}
figure { position: relative;}
figure img, figure video {object-fit: cover; width:100%;height:100%; position: absolute; top: 0; left: 0;}
.displayNone {display: none !important;}
.mobile { display: none;}
.w {color: #FFF;}
.fill { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


select:focus {border: none; outline: none;}
select { background: #FFF; }

@media only screen and (max-width: 1000px) {
    section { width: calc(100% - 2rem);}
    section.fullscreen > * { width: calc(100% - 2rem);}
}

a.button {padding: 0rem 0.8rem 0rem 1.2rem; border: 2px solid #FFF; display: flex; align-items: center; justify-content: space-between; font-weight: 600; color: #FFF;  transition: 500ms ease;  cursor: pointer;;}
a.button::before {content: "\2192"; display: inline-block; margin-right: 1rem; font-size: 1.5rem; display: flex; margin-bottom: 5%; transition: 500ms ease;}
a.button span {transition: 300ms ease; }
a.button:hover span { opacity: 0; }
a.button:hover::before { transform: translateX(400%); }

a.button.left {padding: 0.1rem 1.2rem 0.1rem 0.8rem;}
a.button.left::before {content: "\2190"; margin-right: 0; margin-left: 1rem;}
a.button.left:hover::before { transform: translateX(-400%); }

a.button.dark { border: 2px solid #003d71; color: #003d71; }


/* LINK HOVERS */
/* a.link { display: inline-block; position: relative; }
a.link::before {content:'\2192'; display: block; bottom: -0.2rem; right: 0; position: absolute;  opacity: 0; pointer-events: none; transition: 300ms ease;  margin-right: 50%;}
a.link:hover::before {opacity: 1; margin-right: 0.5rem;} */

/* MENU */
header {z-index: 2; position: absolute; width: 100%;}
header nav .hamburger,
header nav input.hamb {display: none;}
header ul li a { color: #FFF;}
header ul li a:hover {color: #add0ed;}
header ul li a.active {color: #add0ed;}

header > nav, 
header > address {display: flex; max-width: 80rem; width: calc(100% - 4rem);}
/* ADRESS IS PREHEADER */
header address {justify-content: flex-end; margin-top: 1rem; font-size: 0.7rem; }
header address ul {display: flex; margin-left: 6rem;}
header address > ul li {margin-left: 6rem;}
header address > ul li:first-of-type {margin-left: 0rem;}
header address > nav ul li {margin-left: 0.5rem; }
header address > nav ul li a {text-transform: uppercase; }

/* NAV IS MAINMENU */
header > nav ul { display: flex; width: 100%; justify-content: space-between; margin-top: 2rem; align-items: flex-start;}
header > nav ul li {margin-left: 5%; position: relative;}
header > nav ul li a { text-transform: lowercase; padding: 0.5rem; margin-top: -0.5rem;  font-weight: 400;}
header > nav ul li:last-of-type a {padding-right: 0; }
header > nav ul li.logo {margin-right: auto; margin-left: 0;}
header > nav ul li.logo img {width: 18rem;}
header > a.logo.mobile {margin-top: 1rem;  margin-left: 1rem; align-self: flex-start;}
header > a.logo.mobile img {width: 10rem;;}

@media only screen and (min-width: 1000px) {
    header > nav ul.sub { flex-direction: column; position: absolute; margin: 0.15rem 0 0 0;  width: 200%;}
    header > nav ul.sub li{margin: 0.25rem 0 0 0;}
    header > nav ul.sub li a {font-weight: 300;}

    header > nav ul.sub {height: 0; overflow: hidden; transition: 500ms ease; justify-content: flex-start;}
    header > nav li:hover ul.sub {height: 6rem; }
}

@media only screen and (max-width: 1200px) {
    header address ul  {margin-left: 3rem;}
    header address > ul li {margin-left: 3rem;}
    header > nav ul li {margin-left: 2%;}
}

@media only screen and (max-width: 1000px) {
    .mobile { display: block;}

    header > address > nav {display: none;}
    header address > ul li {margin-left: 1.5rem;}

    header > nav, header > address {width: calc(100% - 2em);}
    input.hamb {display: block; position: fixed; right: 1rem; top: 1rem; z-index: 99; height: 1.5rem; width: 1.5rem; opacity: 0;}
    #hamburger { position: fixed; right: 1rem; top: 1rem;  display: flex; flex-direction: column; align-items: flex-end; transition: 500ms ease; z-index: 98; mix-blend-mode: difference;}
    input.hamb, #hamburger {transform: translateY(2rem);}
    .dropMenu input.hamb, .dropMenu #hamburger { transform: translateY(0);}

    #hamburger span {height: 0.15rem; background: #FFF; display: block; margin-bottom: 0.3rem; transition: 250ms ease;}
    #hamburger span:nth-of-type(1) {width:1.4rem; margin-top: 0.2rem;}
    #hamburger span:nth-of-type(2) {width:1.1rem;}
    #hamburger span:nth-of-type(3) {width:0.8rem;}    
    
    input.hamb:checked ~ div#hamburger {top: 2rem; right: 0.7rem; transform: translateY(0); mix-blend-mode: normal;}
    input.hamb:checked ~ div#hamburger span {background: #003d71}
    input.hamb:checked {top: 2rem; transform: translateY(0); }

    input.hamb:checked ~ div#hamburger span:nth-of-type(2) {width:0rem; margin-right: 5.5rem; opacity: 0;}
    input.hamb:checked ~ div#hamburger span:nth-of-type(3) {width:1.4rem; transform: rotate(-45deg); transform-origin: bottom right; margin-top: -0.95rem; margin-right: 0.4rem;}
    input.hamb:checked ~ div#hamburger span:nth-of-type(1) {width:1.4rem; margin-top: 0.2rem; transform: rotate(45deg); transform-origin: top left;}


    header > nav > ul::before {content:""; display: block; width: 100vw; height: 100vh; background: #ececea; position: fixed; top:-2rem; left: -1rem; margin: 0; transform: translateX(-100%); transition:transform  500ms ease;  opacity: 0; visibility: hidden;}
    header > nav > ul{  margin-top: 2rem; position: fixed; transform:translateX(-100%);  transition: transform 500ms ease;  z-index: 97; visibility: hidden; opacity: 0;}
    header > nav > ul > li:first-of-type {margin-bottom: 2rem;}
    header > nav ul { flex-direction: column; margin-top: 0;}
    header > nav ul li { margin-bottom: 0.5rem;  z-index: 2;}
    header > nav ul li:last-of-type { margin-bottom: 0}
    header > nav ul li a {color: #003d71;}

    header > nav ul li.lang { align-self: flex-end; margin: 8rem 2rem 0 0; }
    header > nav ul li.lang a.active {font-weight:400;}

    header > nav ul.sub {margin-left: 1rem; margin-top: 0.5rem;}
    header > nav ul.sub li a {font-weight: 300;}
    
    input.hamb:checked ~ header > nav > ul {transform: translateX(0); visibility: visible; opacity: 1;}
    input.hamb:checked ~ header > nav > ul::before {transform: translateX(0); visibility: visible; opacity: 1;}

    header > nav ul li.logo {margin-left: 1rem;}
    header > nav ul li.logo img {width: 10rem;}
}

/* HOME */
section.introduction { height: 90vh; margin-top: 0; display: flex; align-items: center;}
section.introduction .grad  {display: block; position: absolute; bottom: 0; height: 0%; width: 100%; max-width: 100%; background: linear-gradient(0deg, #FFF 0%, transparent 100%);}
section.introduction h1,
section.introduction h2 { color: #FFF;}
section.introduction h2 {font-weight: 300;}

section.second {display: flex; justify-content: space-between;}
section.second > * {width: calc(50% - 2rem);}
h2.std {font-size: 1.8rem; }

section.icons ul {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 2rem; margin-top: 4rem;}
section.icons ul li {display: flex; flex-direction: column;}
section.icons ul li img {width: 50%; align-self: center; margin-bottom: 2rem;}
section.icons ul li h3 {font-size: 1.7rem; font-weight: 600; margin-bottom: 1rem;}
section.icons ul li p {text-align:justify;}

@media only screen and (max-width: 1000px) {
    section.icons ul li h3 {font-size: 2.7vw; }
}

@media only screen and (max-width: 800px) {
    section.second {flex-direction: column;}
    h2.std {font-size: 1.2rem; }
    section.second > * {width: 100%; max-width: 40rem; margin: 0 auto 2rem auto;}
    
    section.icons ul { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; grid-gap: 4rem; max-width: 30rem; margin: 0 auto;}
    section.icons ul li h3 {font-size: 1.7rem; }
}

@media only screen and (max-width: 500px) {
    section.icons ul { display: flex; flex-direction: column; max-width: 15rem;}
}

section.quote {margin-top: 8rem; display: flex; align-items: center;}
section.quote > div {margin-right: 7rem;}
section.quote h2.std {margin-right: 6rem;}
section.quote figure {width: 19rem; flex-grow: 0; flex-shrink: 0; height:28rem; transform: rotate(-20deg); animation: phoneBounce 4s ease infinite; }
section.quote figure img {object-fit: initial; width: 100%; height: auto;}
section.quote figure .viewport {position: absolute; border: 1px solid black; width: 53%; height: 50%; transform: skew(11deg, -1deg); left: 20%; top: 10%;  overflow: scroll; background: white;}
section.quote figure .shadow {position: absolute; bottom: -45%; left: -20%; border-radius: 50%; width: 100%; height: 0; padding-bottom: 100%; background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 70%); transform: rotate(20deg) scaleY(0.15); animation: shadowGrow 4s ease infinite;}

@keyframes phoneBounce {
    0% { transform: rotate(-20deg) translateY(0rem)}
    50% { transform: rotate(-20deg) translateY(1rem)}
    100% { transform: rotate(-20deg) translateY(0rem)}
}

@keyframes shadowGrow {
    0% { transform: rotate(20deg) translateY(1rem) scaleY(0.15) }
    50% { transform: rotate(20deg) translateY(0rem) scaleY(0.15) scaleX(1.2) }
    100% { transform: rotate(20deg) translateY(1rem) scaleY(0.15) }
}

section.career.fullscreen { height: 0; padding-bottom: 40%; margin-top: 8rem;}
section.career.fullscreen article {position: absolute; max-width: 25rem; margin: auto; left: 40%; right: 0; top: 0; bottom: 0; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;}
section.career article h2 {font-size: 0.9rem; margin-bottom: 0.5rem;}
section.career article h3 {font-size: 1rem; width: 70%; margin-bottom: 1rem;}



section.clients { display: flex; align-items: center; flex-direction: column; max-width: 100%; margin-bottom: 6rem;}
section.clients h2 { color: #add0ed; text-transform: uppercase; margin-bottom: 4rem;}
section.clients h2::before  {content: ""; display: block; width: 3rem; border-top: 0.2rem solid #b5c9d0; margin: 1rem auto;}
section.clients div {display: flex; width: 100%; align-items: center;}
section.clients article.overflower { overflow: hidden; width: 100%;}
section.clients article.overflower ul {display: flex;  margin: 0 auto; transition: 500ms ease; width: 100%; margin-left: -25%;}
section.clients article.overflower .slider {width: 100%; transition: 500ms ease;}
section.clients article.overflower ul li {width: 10%; margin: 0 7.5%; flex-shrink: 0;}
section.clients article.overflower ul li img { width: 100%; max-width: 20rem; max-height: 20rem; filter: grayscale(100%); transition: 500ms ease;}
section.clients:hover  article.overflower ul li img {filter: grayscale(0%);}

section.clients a.button {border: 0;}
section.clients a.button:hover::before {transform: translateX(90%);}
section.clients a.button.left:hover::before {transform: translateX(-90%);}

@media only screen and (max-width: 1000px) {
    section.quote {flex-direction: column;}
    section.quote > div {margin: 0 auto; transform: scale(0.8);}
    section.quote h2.std {margin: 0 auto;  max-width: 30rem;}
    
    section.career.fullscreen { height: 0; padding-bottom: 60%; margin-top: 8rem; margin-top: 2rem;}
    section.career.fullscreen article { display: none;}
    section.career.mobile { margin-top: 1rem;}
    section.career.mobile article {max-width: 40rem; margin: 0 auto;}
    
    section.clients div {width: calc(100% + 2rem);}
    section.clients a.button:hover::before {transform: translateX(50%);}
    section.clients a.button.left:hover::before {transform: translateX(-50%);}

}

@media only screen and (max-width: 500px) {
    section.quote > div {transform: scale(0.6) translateY(-2rem);}

    section.clients a.button::before {font-size: 1rem; margin-top: -15%;}

    footer h2 { font-size: 6vw; }
}

/* FOOTER */
footer { background: #b5c9d0 }
footer section { margin: 4rem 0; display: flex; align-items: flex-start; flex-direction: column;}
footer section p {font-weight: 600;}
footer section a.button {padding-right: 4rem;}
footer section a.button::before {margin-bottom: 8%; margin-top: -4%;}
footer section a.button:hover::before {transform: translateX(280%);}
footer section a.button:hover::before {transform: translateX(280%);}

footer section nav::before { content:""; display: block;  width: 100%; border-top: 2px solid #003d71;  margin: 3rem auto -1rem auto; flex-shrink: 0;}
footer section nav {width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
footer section nav img {max-width: 2rem;}
footer section nav address {max-width: 20rem;}
footer section nav address ul li:nth-of-type(3) { margin-bottom: 1rem;}
footer section nav address ul li:nth-of-type(3) { margin-bottom: 1rem;}

footer section nav ul li:nth-of-type(1) h3 { text-transform: uppercase; font-size: 1rem; margin-bottom: 1rem;}
footer section nav ul {margin-right: 6rem; margin-top: 2rem;}
footer section nav ul li {font-weight: 400;}

/* socials */
footer section nav > ul:nth-of-type(1) li:nth-of-type(2), 
footer section nav > ul:nth-of-type(1) li:nth-of-type(3),
footer section nav > ul:nth-of-type(1) li:nth-of-type(4) {display: inline-block; width: 2rem;}

/* BREADCRUMBS */
#breadcrumbs { align-self: flex-start; margin-left: 2rem;}

h1.title { color: #add0ed; text-align: center;   margin-bottom: 4rem;}
h1.title::before {content: ""; display: block; width: 3rem; border-top: 0.2rem solid #b5c9d0; margin: 1rem auto;}

/* VACATURES */
section.vacatures {margin-bottom: 10rem;}
section.vacatures ul { display: flex; flex-wrap: wrap; width: calc(100% + 2rem); margin-left: calc(-2rem - 0.2%); justify-content: center; margin-top: -2rem;}
section.vacatures ul li { height: 0; padding-bottom: 20%; width: calc(33% - 2rem); margin-left: calc(2rem + 0.33%); margin-top: 2rem; position: relative;}
section.vacatures ul li::before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #FFF; opacity: 0.5; z-index: 0;  transition: 500ms ease;}
section.vacatures ul li div.content {z-index: 1; display: flex; align-items: center; flex-direction: column; justify-content: center;}
section.vacatures ul li h2 {text-transform: uppercase; font-weight: 600; font-size: 1.2rem; text-align: center; margin: 0 0.2rem; transition: 500ms ease;}
section.vacatures ul li .specs h3  {display: inline; font-weight: 400;}
section.vacatures ul li .specs {font-weight: 400; transition: 500ms ease; }
section.vacatures ul li a {z-index: 2;}

section.vacatures ul li:hover::before {opacity: 0.8;}
section.vacatures ul li:hover h2 { transform: translateY(1rem); font-size: 1.5rem; text-shadow: 1px 1px 10px rgba(0,0,0,0.2);}
section.vacatures ul li:hover .specs {opacity: 0;}

.vacature section.details > div:first-of-type {display: flex; justify-content: space-around; max-width: 75rem; margin: 7rem auto 3rem auto; flex-wrap: wrap;}
.vacature section.details > div article {max-width: 25rem; margin-left: 2rem; margin-top: 2rem;}
.vacature section.details > div article ul li {position: relative; margin-left: 0.6rem;}
.vacature section.details > div article ul li::before {content: "•"; position: absolute; left: -0.6rem;}

#timeline {width: 100%; display: flex; flex-direction: column; align-items: center; margin: 7rem auto 2rem auto;}
#timeline span {margin-top: 0.5rem;}
#timeline > ul.line {margin-top: 2rem; width: 100%; height: 2.5rem;  display: flex; position: relative; margin-bottom: 7rem;}
#timeline > ul.line li {height: 100%; transition: 500ms ease;}
#timeline > ul.line li div { position: absolute; left: 0; top: 5rem; display: flex; align-items: center; opacity: 0; transition: 500ms ease;}
#timeline > ul.line li span.dot {height: 1rem; width: 1rem; display: inline-block; border-radius: 50%; margin-right: 0.5rem;}
#timeline > ul.line li span.uren {font-weight: 500;}

#timeline > ul.line li:hover,
#timeline > ul.line li.fakehover {height: 4rem; border-radius: 0 0 5px 5px; }
#timeline > ul.line li:hover div,
#timeline > ul.line li.fakehover div {opacity: 1;}

#timeline > ul.line li:first-of-type,
#timeline > ul.line li.fakefirst-of-type {border-radius: 5px 0 0 5px;}
#timeline > ul.line li:last-of-type,
#timeline > ul.line li.fakelast-of-type {border-radius: 0 5px 5px 0;}
#timeline > ul.line li:hover:first-of-type,
#timeline > ul.line li.fakehover:first-of-type {border-radius: 5px 0 5px 5px;}
#timeline > ul.line li:hover:last-of-type,
#timeline > ul.line li.fakehover:last-of-type {border-radius: 0 5px 5px 5px;}

#timeline  h2 {color: #add0ed;}
#timeline .md {max-width: 50rem; margin: 0 auto;}
#timeline .md h2 {margin: 2rem auto 1rem auto}

section.course ul {display: flex; align-items: center; justify-content: space-between;}
section.course ul li { width: 10%; display: flex; justify-content: center; font-size: 3rem;}


@media only screen and (max-width: 1360px) {
    section.vacatures ul li  h2 { font-size: 1.7vw; }
}
@media only screen and (max-width: 900px) {
    section.vacatures ul {margin-left: -1.5rem;}
    section.vacatures ul li {width: calc(49% - 1rem); padding-bottom: 30%; margin-left:calc(1rem + 0.33%); margin-top: 1rem;}
    section.vacatures ul li  h2 { font-size: 2.5vw; }
    section.vacatures ul li .specs h3,
    section.vacatures ul li .specs {font-size: 2vw; }

    section.vacatures ul li:hover h2 { font-size: 1rem; transform: translateY(0.5rem)}
    
    section.course ul li {font-size: 1.5rem;}
}

@media only screen and (max-width: 500px) {
    section.vacatures ul li .specs h3,
    section.vacatures ul li .specs {font-size: 0.6rem; }

    #timeline h2 { font-size: 1.5rem;}
}

.vacature main > h2 { margin-top: 5rem; margin-bottom: 3rem;} 
section.recruit { display: flex; justify-content: space-between; color: #add0ed; align-items: center; margin-bottom: 10rem;}
section.recruit a {color: #add0ed; transition: 250ms ease;}
section.recruit a:hover {color: #003d71;}
section.recruit > * {width: 20%; margin-right: 5rem;}
section.recruit > div figure { width: 90%; height: 0; padding-bottom: 90%; border-radius: 50%; overflow: hidden; display: flex; flex-direction: column; align-items: center;}
section.recruit > div figure img {transition: 500ms ease;}
section.recruit > div figure:hover img.top { opacity: 0;}
section.recruit > div h3 { font-size: 2rem; margin-top: 1rem;}
section.recruit > div p { font-size: 1.7rem; margin-bottom: 0;}

section.recruit > ul {display: flex; flex-direction: column; align-items: flex-start; width: 30%; margin-bottom: 8%;}
section.recruit > ul li {padding: 0.2rem 0.5rem; font-size: 1.8rem; font-weight: 700}
section.recruit > ul li:first-of-type {position: relative;}
section.recruit > ul li:first-of-type input {position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; opacity: 0;}
section.recruit > ul li:first-of-type span {transition: 500ms ease;}
section.recruit > ul li:first-of-type ul {height: 0; overflow: hidden; transition: 500ms ease;}
section.recruit > ul li:first-of-type ul li {font-size: 1rem; text-align: right;}

section.recruit > ul li:first-of-type input:hover ~ span { color: #003d71; }
section.recruit > ul li:first-of-type input:checked { height: 25%;}
section.recruit > ul li:first-of-type input:checked ~ ul { height: 5rem;}

section.recruit > a { margin-right: 1rem; text-align: center; background: #add0ed; font-size: 1.8rem; color: #FFF; font-weight: 600; padding: 3rem 0.5rem; margin-bottom: 8%;}
section.recruit > a:hover {color: #FFF; background: #003d71;}

@media only screen and (max-width: 1000px) {
    section.recruit { flex-wrap: wrap;}
    section.recruit > div, 
    section.recruit > ul {width: calc(49% - 1rem); margin-right: 0;}
    section.recruit > ul li {font-size: 1.4rem; margin-left: auto;}
    section.recruit > a {margin: 0 auto; width: 100%; max-width: 20rem; margin-top: 5rem;}
}

@media only screen and (max-width: 500px) {
    section.recruit { flex-wrap: nowrap; flex-direction: column;}
    section.recruit > ul {width: 100%; align-items: center; max-width: 15rem; margin-top: 1rem;}

    section.recruit > div { width: 100%; max-width: 15rem; margin: 0 auto;} 
    section.recruit > div figure {width: 100%; padding-bottom: 100%;}
    
    section.recruit > a { margin-top: 1rem; padding: 2rem 0.5rem;}
}

.verhaal section.text article { display: flex; justify-content: center; margin: 4rem auto;}
.verhaal section.text article > * {width: 50%; max-width: 25rem; margin-left: 2rem;}
.verhaal section.text.dark {color: #FFF; }
.verhaal section.text.dark article { margin: 7rem auto;}

.verhaal section.text .md { margin-top: 0.5rem; }

@media only screen and (max-width: 700px) {
    .verhaal section.text article {flex-direction: column;}
    .verhaal section.text article > * {width: calc(100% - 2rem); max-width: 100%; margin-left: 0rem;}
    
    .verhaal section.text > h1,
    .verhaal section.text > h2 {font-size: 1.75rem;}
}

@media only screen and (min-width: 1600px) {
    .verhaal section.text > h1,
    .verhaal section.text > h2 {font-size: 2.6rem;}
}

section.team h2,
section.team p {text-align: center; margin: 0 auto; max-width: 50rem;}
section.team h2:nth-of-type(2) {margin-top: 4rem;}