<section class="clients">
    <h2>{{ site.data.clients.title[lang] }}</h2>
    <div class='infinite-slider' data-counter="0">
        <a class="button dark left" onclick="slide(this, 'left')"><span></span></a>
        <article class="overflower">
            <div class="slider">
                <div class="slider2">
                    <ul>
                        {% for item in site.data.clients.clients %}
                        <li><img src="{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </article>
        <a class="button dark" onclick="slide(this, 'right')"></a>
    </div>
</section>