{% include header.html %}

<section class="introduction fullscreen" style="background: url('{{ page.image }}') center center / cover">
    <hgroup>
        <h1>{{ page.h1 }}</h1>
        <h2>{{ page.h2 }}</h2>
    </hgroup>
    <span class="grad"></span>
</section>

<section class="second">
    <h2 class="std">{{ page.second_block.header_text }}</h2>
    <article>
        {{ page.second_block.markdown | markdownify }}
    </article>
</section>

<section class="icons">
    <ul>
        {% for item in page.icons limit: 4 %}
        <li>
            <img src="{{ item.image }}" alt="{{ item.image_alt }}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.text }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="quote">
    <h2 class="std">{{ page.third_block.header_text }}</h2>
    <div>
        <figure>
            <div class="phone">
                <img src="/img/iphone.png" alt="image of an iphone">
                <div class="viewport">
                    <!-- HIRE CONTENT VOOR IN HET TELEFOONTJE -->
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                    <p>Hoi</p>
                </div>
            </div>
            <div class="shadow"></div>
        </figure>
    </div>
</section>

<section class="career fullscreen w" style="background:url('{{ page.career.image }}') center center / cover">
    <article>
        <h2>{{ page.career.title }}</h2>
        <h3>{{ page.career.subtitle }}</h3>
        <p>{{ page.career.markdown | strip_html }}</p>
        <a class="button" href=""><span>{{ transl.to_career[lang] }}</span></a>
    </article>
</section>

<section class="mobile career">
    <article>
        <h2>{{ page.career.title }}</h2>
        <h3>{{ page.career.subtitle }}</h3>
        <p>{{ page.career.markdown | strip_html }}</p>
        <a class="button" href=""><span>{{ transl.to_career[lang] }}</span></a>
    </article>
</section>

<section class="clients">
    <h2>{{ page.clients.title }}</h2>
    <div data-counter="0">
        <a onclick="slide(this, 'left')">&larr;</a>
        <article class="overflower">
            <div class="slider">
                <div class="slider2">
                    <ul>
                        {% for item in page.clients.clients %}
                        <li><img src="{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}">{{ forloop.index
                            }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </article>
        <a onclick="slide(this, 'right')">&rarr;</a>
    </div>
</section>

<div style="height: 2000px"></div>

{% include footer.html %}