{% include header.html %}


<section class="details">
    <h1 class="title">{{ page.title }}</h1>
    <div>
        <article>
            <h3>{{ transl.wat_is_vereist[lang] }}?</h3>
            {{ page.wat_is_vereist_markdown | markdownify }}
        </article>
        <article>
            <h3>{{ transl.wat_krijg_je[lang] }}?</h3>
            {{ page.wat_krijg_je_markdown | markdownify }}
        </article>
    </div>
    <div id="timeline">
        <h2>{{ transl.wat_ga_je_doen[lang] }}</h2>
        <span>{{ page.workweek_hours }}{% if lang == 'en' %}&nbsp;{% endif %}{{ transl.x_urige_werkweek[lang] }}</span>
        <ul class="line" data-counter=0>
            {% for item in page.timeline_blocks %}
            {% assign width = item.hours | divided_by: 1.0 |  divided_by: page.workweek_hours | times: 100 %}
                <li style="width: {{ width }}%; background: {{ item.color }}">
                    <div>
                        <span class="dot" style="background: {{ item.color }}"></span><span class="uren">{{ item.hours }} {{ transl.uren[lang] | downcase }} |&nbsp;</span><span>{{ item.title }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="md">
            {{ page.wat_ga_je_doen_markdown | markdownify }}
        </div>
    </div>
</section>

<section class="course">
    <ul>
        <li><img src="/img/icon.svg" alt="Icon"></li>
        <li>&rarr;</li>
        <li><img src="/img/icon.svg" alt="Icon"></li>
        <li>&rarr;</li>
        <li><img src="/img/icon.svg" alt="Icon"></li>
        <li>&rarr;</li>
        <li><img src="/img/icon.svg" alt="Icon"></li>
        <li>&rarr;</li>
        <li><img src="/img/icon.svg" alt="Icon"></li>
    </ul>
</section>

<h2>{{ page.recruiter_title }}</h2>
<section class="recruit">
    {% assign recruiter = site.recruiters | where: 'slug', page.recruiter %}
    <div>
        <figure {% unless recruiter[0].hover_image.size < 2 %}class="hover_loaded"{% endunless %}>
            <img src="{{ recruiter[0].hover_image }}" alt="A picture of {{ recruiter[0].title }}" class="hover">
            <img src="{{ recruiter[0].image }}" alt="A picture of {{ recruiter[0].title }}" class="top">
        </figure>
        <h3>{{ recruiter[0].title }}</h3>
        <p>Recruiter</p>
    </div>
    <ul>
        <li>
            <input type="checkbox">
            <span>{{ transl.contactgegevens[lang] }}</span>
            <ul>
                <li><a href="https://wa.me/{{ recruiter[0].tel }}?text=Hey%20{{ recruiter[0].voornaam }}%2C">Whatsapp</a></li>
                <li><a href="tel:{{ recruiter[0].tel | prepend: '+' }}">{{ transl.telefoon[lang] }}</a></li>
                <li><a href="mailto:{{ recruiter[0].email }}">Mail</a></li>
            </ul>
        </li>
        <li><a href="mailto:{{ recruiter[0].email }}">Stel een vraag</a></li>
    </ul>
    <a href="{{ page.recruitee_url }}">{{ transl.solliciteer[lang] }}</a>
</section>

{% include footer.html %}