{% include header.html %}

<section class="text">
    <article>
        <h1>{{ page.first_block.title }}</h1>
        <div class="md">
            {{ page.first_block.markdown | markdownify }}
        </div>
    </article>
</section>

<section class="text dark fullscreen"
    style="background: url('{{ page.second_block.background_image}}') center center / cover">
    <article>
        <h2 class="h1">{{ page.second_block.title }}</h2>
        <div class="md">
            {{ page.second_block.markdown | markdownify }}
        </div>
    </article>
</section>

<section class="team">
    <h2>{{ transl.our_mission[lang] }}</h2>
    <p>{{ page.mission_text }}</p>
    <h2>{{ transl.our_team[lang] }}</h2>
    <p>{{  page.team_text }}</p>
    <ul>
        {% for item in site.teammembers %}
            <li></li>
        {% endfor %}
    </ul>
</section>

{% include footer.html %}